//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    .wrapper
        .container-fluid
          .row
            .col-lg-12
              .row.flex-row
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-info
                      .row.d-flex.flex-row
                        .col-3.align-self-center
                          .icon-block-big
                            i.icon-block
                        .col-9.align-self-center.text-right
                          .m-l-10
                            p.small-title.mb-0 BEST BLOCK
                            h5.big-details.mt-0 {{'#'}}{{ bestBlock | number}}
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-warning
                      .row.d-flex.flex-row
                        .col-3.align-self-center
                          .icon-block-big
                            i.icon-hashrate
                        .col-9.text-right.align-self-center
                          .m-l-10
                            p.small-title.mb-0 last block
                            h5.big-details.mt-0 {{ lastBlock | blockTimeFilter }}
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      .row.d-flex.flex-row
                        .col-3.align-self-center
                          .icon-block-big
                            i.icon-time
                        .col-9.align-self-center.text-right
                          .m-l-10
                            p.small-title.mb-0  max block size
                            h5.big-details.mt-0 {{ bestStats.block.gasLimit }} Gas
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-danger
                      .row.d-flex.flex-row
                        .col-3.align-self-center
                          .icon-block-big
                            i.icon-gas
                        .col-9.align-self-center.text-right
                          .m-l-10
                            p.small-title.mb-0 AVG BLOCK TIME
                            h5.big-details.mt-0  {{ avgBlockTime | avgTimeFilter }}
                    // end card-body
                  // end card
                // end col
              // end row
            // end col
          // end row
          .row
            .col-lg-12
              .row.flex-row
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      .row.d-flex.flex-row
                        .col-7.align-self-center
                          .icon-block-small
                            i.icon-node
                          .pt-1
                            p.small-title.mb-0 ACTIVE NODES
                        .col-5.align-self-center.text-right
                          div
                            p.mb-0 {{nodesActive}}/{{nodesTotal}}
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-info
                      .row.d-flex.flex-row
                        .col-7.align-self-center
                          .icon-block-small
                            i.icon-gasprice
                          .pt-1
                            p.small-title.mb-0 GAS PRICE
                        .col-5.align-self-center.text-right
                          div
                            p.mb-0 10 gwei
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-info
                      .row.d-flex.flex-row
                        .col-7.align-self-center
                          .icon-block-small
                            i.icon-gasprice
                          .pt-1
                            p.small-title.mb-0 GAS LIMIT
                        .col-5.align-self-center.text-right
                          div
                            p.mb-0 136500000 gas
                    // end card-body
                  // end card
                // end col
                .col-lg-3.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      .row.d-flex.flex-row
                        .col-7.align-self-center
                          .icon-block-small
                            i.icon-bulb
                          .pt-1
                            p.small-title.mb-0 UPTIME
                        .col-5.align-self-center.text-right
                          div
                            p.mb-0 100%
                    // end card-body
                  // end card
                // end col
              // end row
            // end col
          // end row
          .row
            .col-lg-6
              .row.flex-row
                .col-lg-6.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      h4.mt-0.header-title BLOCK TIME
                      p.text-muted.mb-4.font-14
                      #morris-bar-stacked.morris-chart
                    // end card-body
                  // end card
                // end col
                .col-lg-6.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      h4.mt-0.header-title TRANSACTIONS PER BLOCK
                      p.text-muted.mb-4.font-14
                      #morris-bar-stacked-1.morris-chart
                    // end card-body
                  // end card
                // end col
                .col-lg-6.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      h4.mt-0.header-title TPS PER BLOCK
                      p.text-muted.mb-4.font-14
                      #morris-bar-stacked-2.morris-chart
                    // end card-body
                  // end card
                // end col
                .col-lg-6.col-md-6.col-sm-6
                  .card
                    .card-body.text-success
                      h4.mt-0.header-title DIFFICULTY
                      p.text-muted.mb-4.font-14
                      #morris-bar-stacked-3.morris-chart
                    // end card-body
                  // end card
                // end col
              // end row
            // end col
            .col-lg-6
              .card
                .card.mb-0
                  .card-body
                    #world-map-markers.dash-map
                // end card
              // end card
            // end col
          // end row
          .row
            .col-lg-12
              .card
                .card-body
                  .row.d-flex.flex-row
                    .col-md-12.alert-warning.bg-transparant
                      .icon-small
                        i.icon-warning-o
                      .warning-text
                        p.mb-0
                          span.small-title ATTENTION!
                          |  This does not represent the entire XinFin network - only authorized signer and proxy nodes - and information may not be 100% accurate.
                // end card-body
              // end card
            // end col
          // end row
          .row
            .col-lg-12
              .card
                .card-body
                  .table-responsive
                    table.table.table-hover.mb-0
                      thead.table-icon-small
                        tr
                          th.border-top-0
                            i.icon-check-o(data-toggle="tooltip" data-placement="top" title="" data-original-title="Pin nodes to display first")
                          th.border-top-0
                            i.icon-node(data-toggle="tooltip" data-placement="top" title="" data-original-title="Node name")
                          th.border-top-0
                            i.icon-laptop(data-toggle="tooltip" data-placement="top" title="" data-original-title="Node type")
                          th.border-top-0
                            i.icon-clock(data-toggle="tooltip" data-placement="top" title="" data-original-title="Node latency")
                          th.border-top-0
                            i.icon-group(data-toggle="tooltip" data-placement="top" title="" data-original-title="Peers")
                          th.border-top-0
                            i.icon-network(data-toggle="tooltip" data-placement="top" title="" data-original-title="Pending transactions")
                          th.border-top-0
                            i.icon-block(data-toggle="tooltip" data-placement="top" title="" data-original-title="Last block")
                          th.border-top-0
                            i.icon-bulb(data-toggle="tooltip" data-placement="top" title="" data-original-title="Up-time")
                      tbody.text-success
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") Foundation Monitoring (Benchmarking-mon12)
                          td Geth/v1.8.21-stable-9dc5d1a9/linux-amd64/go1.10.4
                          td 44 ms
                          td 25
                          td 110
                          td #7,082,618
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") 2Miners.com Ethereum PPLNS
                          td Parity-Ethereum//v2.2.7-stable-b00a21f-20190115/x86_64-linux-gnu/rustc1.31.1
                          td 60 ms
                          td 11
                          td 90
                          td #7,082,618
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") Bootnode-BR
                          td Geth/v1.8.21-stable/linux-amd64/go1.10.3
                          td 53 ms
                          td 499
                          td 50
                          td #7,082,617
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") BaikalMine Ethereum SOLO
                          td Geth/v1.8.21-stable/linux-amd64/go1.10
                          td 75 ms
                          td 200
                          td 90
                          td #7,082,600
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") Foundation Monitoring (Benchmarking-mon12)
                          td Geth/v1.8.21-stable-9dc5d1a9/linux-amd64/go1.10.4
                          td 44 ms
                          td 25
                          td 110
                          td #7,082,618
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") 2Miners.com Ethereum PPLNS
                          td Parity-Ethereum//v2.2.7-stable-b00a21f-20190115/x86_64-linux-gnu/rustc1.31.1
                          td 60 ms
                          td 11
                          td 90
                          td #7,082,618
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") Bootnode-BR
                          td Geth/v1.8.21-stable/linux-amd64/go1.10.3
                          td 53 ms
                          td 499
                          td 50
                          td #7,082,617
                          td 100%
                        tr
                          td
                            i.icon-loader(data-toggle="tooltip" data-placement="right" data-original-title="Click to pin")
                          td
                            a(data-toggle="modal" data-animation="bounce" data-target=".bs-example-modal-center") BaikalMine Ethereum SOLO
                          td Geth/v1.8.21-stable/linux-amd64/go1.10
                          td 75 ms
                          td 200
                          td 90
                          td #7,082,600
                          td 100%
                // end card-body
              // end card
            // end col
          // end row
        // end container
      // end wrapper
      // Footer
      footer.footer
        .container-fluid
          .row
            .col-12 © 2019 XinFin. All Rights Reserved.
      // End Footer
      // jQuery

